* {
  margin: 0px;
  padding: 0px;
}
.cssField {
  box-sizing: border-box;
  width: 100%;
  height: calc(3em + 2px);
  margin: 0 0 1em;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
  background: #fff;
  resize: none;
  outline: none;
}
.cssField:focus {
  border-color: #00bafa;
}
.cssField:focus + label[placeholder]:before {
  color: #00bafa;
}
.cssField:focus + label[placeholder]:before,
.cssField:valid + label[placeholder]:before {
  transition-duration: 0.2s;
  transform: translate(0, -1.5em) scale(0.9, 0.9);
}
.cssField:invalid + label[placeholder][alt]:before {
  content: attr(alt);
}
.cssField + label[placeholder] {
  display: block;
  pointer-events: none;
  line-height: 1.25em;
  margin-top: calc(-3em - 2px);
  margin-bottom: calc((3em - 1em) + 2px);
}
.cssField + label[placeholder]:before {
  content: attr(placeholder);
  display: inline-block;
  margin: 0 calc(1em + 2px);
  padding: 0 2px;
  color: #898989;
  white-space: nowrap;
  transition: 0.3s ease-in-out;
  background-image: linear-gradient(to bottom, #fff, #fff);
  background-size: 100% 5px;
  background-repeat: no-repeat;
  background-position: center;
}

:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: 0.75rem;
}

.form {
  background: #17215f;
  background: linear-gradient(to right, #17215f, #33aeff);
  height: 100vh;
}

.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-img-left {
  width: 45%;
  /* Link to your background image using in the property below! */
  background: scroll center url("../img/signup.jpg");
  background-size: cover;
}

/* <a href='https://www.freepik.com/vectors/avatar'>Avatar vector created by stories - www.freepik.com</a> */

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

body .btn {
  font-size: 80%;
  border-radius: 25px;
  letter-spacing: 0.1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}
